Source: bazel
Section: devel
Priority: optional
Maintainer: Kyle Moffett <kyle@moffetthome.net>
Build-Depends: debhelper (>= 9), dh-exec (>= 0.3), openjdk-8-jdk,
 openjdk-8-source, bc, libarchive-dev, libprotobuf-java,
 pkg-config, protobuf-compiler, zip, zlib1g-dev
Standards-Version: 3.9.6
Homepage: http://bazel.io/
Vcs-Git: https://github.com/kmoffett/bazel-debian/

Package: bazel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast and correct automated build system by Google
 {Fast, Correct} - Choose two
 .
 Bazel is a build tool that builds code quickly and reliably. It is used to
 build the majority of Google's software, and thus it has been designed to
 handle build problems present in Google's development environment, including:
 .
  * A massive, shared code repository, in which all software is built from
    source. Bazel has been built for speed, using both caching and parallelism
    to achieve this. Bazel is critical to Google's ability to continue to scale
    its software development practices as the company grows.
 .
  * An emphasis on automated testing and releases. Bazel has been built for
    correctness and reproducibility, meaning that a build performed on a
    continuous build machine or in a release pipeline will generate
    bitwise-identical outputs to those generated on a developer's machine.
 .
  * Language and platform diversity. Bazel's architecture is general enough to
    support many different programming languages within Google, and can be used
    to build both client and server software targeting multiple architectures
    from the same underlying codebase.

Package: bazel-docs
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Fast and correct automated build system by Google (Documentation)
 This package provides the documentation for Bazel.
